html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

li {
  list-style-type: none;
}
ul {
  padding: 0;
}

.search {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.search__input {
  font-size: 16px;
  font-weight: 700;
  width: 400px;
  height: 50px;
  padding: 10px;
  border: 2px solid rgba(83, 66, 66, 0.158);
  border-radius: 5px;
  outline: none;
}

.search__list-result {
  font-size: 16px;
  font-weight: 700;
}

.search__result-text, 
.search__result-image{
  font-size: 16px;
  font-weight: 400;

  max-width: 40%;
  display: inline-block;
  vertical-align: top;
  padding: 32px;
}